header{
    display: flex;
    justify-content: space-between;
}
#introContainer{
    text-align: center;
    /* display: none; */

}
#quiz{
    display:none
}
#highscoresContainer{
    display: none;
}
#endContainer{
    display: none;
}